
body {
    background-color: white;
    font-size: 14px;
    font-family: monospace;
    text-algin: center;
    margin-left: auto;
    margin-right: auto;
    width: 45em;

}
.imgPingPong {
    margin-top: 25px;
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}
img {
    max-width: 100%;
    height: auto;
}

h1, h2 {
    margin-top: 40px;
    margin-bottom: 0px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 0px;
}

.wikitable {
    margin-bottom: 70px;
}
